altair==5.2.0
annotated-types 
anyio 
appnope 
argon2-cffi 
argon2-cffi-bindings 
arrow 
asttokens 
async-lru 
attrs 
Babel 
beautifulsoup4 
bleach 
blinker==1.7.0
Bottleneck 
Brotli 
cached-property 
cachetools==5.3.2
certifi 
cffi 
charset-normalizer 
click==8.1.7
comm 
cryptography 
debugpy 
decorator 
defusedxml 
dnspython==2.4.2
email-validator==2.1.0.post1
entrypoints 
et-xmlfile 
exceptiongroup 
executing 
fastjsonschema 
fqdn 
gitdb==4.0.11
GitPython==3.1.40
idna @
importlib-metadata 
importlib-resources 
ipykernel 
ipython 
isoduration 
jedi 
Jinja2 
json5 
jsonpointer 
jsonschema 
jsonschema-specifications 
jupyter-events 
jupyter-lsp 
jupyter_client 
jupyter_core 
jupyter_server 
jupyter_server_terminals 
jupyterlab 
jupyterlab_pygments 
jupyterlab_server 
markdown-it-py==3.0.0
MarkupSafe 
matplotlib-inline 
mdurl==0.1.2
mistune 
nbclient 
nbconvert 
nbformat 
nest-asyncio 
notebook_shim 
numexpr 
numpy 
openpyxl 
overrides 
packaging 
pandas 
pandocfilters 
parso 
pexpect 
pickleshare 
Pillow==10.1.0
pkgutil_resolve_name 
platformdirs 
prometheus-client 
prompt-toolkit 
protobuf==4.25.1
psutil 
ptyprocess 
pure-eval 
pyarrow==14.0.1
pycparser 
pydantic 
pydantic_core 
pydeck==0.8.1b0
Pygments 
pyobjc-core 
pyobjc-framework-Cocoa 
pyOpenSSL 
PySocks 
python-dateutil 
python-json-logger 
pytz 
PyYAML 
pyzmq 
referencing 
requests 
rfc3339-validator 
rfc3986-validator 
rich==13.7.0
rpds-py 
Send2Trash 
setuptools==68.2.2
six 
smmap==5.0.1
sniffio 
soupsieve 
stack-data 
streamlit==1.29.0
tenacity==8.2.3
terminado 
tinycss2 
toml==0.10.2
tomli 
toolz==0.12.0
tornado 
traitlets 
types-python-dateutil 
typing-utils 
typing_extensions 
tzdata 
tzlocal==5.2
uri-template 
urllib3 
validators==0.22.0
watchdog==3.0.0
wcwidth 
webcolors 
webencodings 
websocket-client 
wheel==0.41.2
XlsxWriter==3.1.9
zipp 
